html,
body {
    height: 100%;
}

html {
    font-size: 18px;
    box-sizing: border-box;
    @include tablets {
        font-size: 15px;
    }

    @include phones {
        font-size: 12px;
    }
}

body {
    overflow: auto;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    -webkit-text-size-adjust: none;

    @include phones {
        min-width: auto;
        width: 100vw;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
}

.layout {
    background: #fff;
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    letter-spacing: 0;
    text-align: left;
    color: $main;
}

// tag styles reset
a {
    color: inherit;
    text-decoration: none; /* no underline */
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

p {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
//end tag styles reset
